
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@site">
	<meta name="twitter:creator" content="@author">
	<meta name="twitter:title" content="Lorem ipsum dolor sit amet">
	<meta name="twitter:description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam excepturi dolore eaque sunt exercitationem deserunt eius, architecto natus magni fuga dolorem, provident minus obcaecati officia maiores reiciendis deleniti.">
	<meta name="twitter:image" content="#">